* {
  font-family: Kumbh Sans, sans-serif;
}

.c-primary {
  color: #FF7D1A;
}

.bgc-primary {
  background-color: #FF7D1A;
}

.c-secondary {
  color: #FFEDE0;
}

.bgc-secondary {
  background-color: #FFEDE0;
}


.darker {
  color: #68707D;
}

.medium {
  color: #B6BCC8;
}

.bgc-medium {
  background-color: #B6BCC8;
}

.lighter {
  color: #F7F8FD;
}

.bgc-lighter {
  background-color: #F7F8FD;
}

.white {
  color: white;
}

.navbar-toggler {
  border: none;
}

.separator {
  display: none;
  color: 
}

.title {
  font-size: .75rem;
  letter-spacing: 1.5px;
}

.subtitle {
  font-size: 2rem;
}

.cart-unset{
  all: unset;
}

#cart {
  display: none;
  
}

#cart[open-cart]{
  display: block;
}

@media (min-width: 36rem) {
  body {
    display: flex;
    flex-direction: column;
  }

  header,
  footer {
    margin: auto;
    width: 100%;
    padding: 0 3rem;
  }

  .main-bl {
    margin: auto;
    width: 100%;
    padding: 0 5rem;
  }

  .showcase {
    border-radius: 1rem;
  }
}

@media (min-width: 48rem) {

  header, footer {
    padding: 0 5rem;
  }

  .main-bl {
    padding: 0 8rem;
  }
  .navbar-nav > * {
    padding: 0 .25rem;
  }
}

@media (min-width: 62rem) {
  .main-bl {
    display: flex;
    flex-direction: row;
  }

  .section-bl {
    padding: 3rem;
  }
  
  header,
  .main-bl,
  footer {
    max-width: 75rem;
  }

  .separator {
    display: block;
    margin: 0 auto 0;
    border: 1px solid #B6BCC8;
    max-width: 60rem;
  }

  .collapse {
    display: flex;
  }
}