* {
  font-family: Kumbh Sans, sans-serif;
}

.c-primary {
  color: #FF7D1A;
}

.bgc-primary {
  background-color: #FF7D1A;
}

.c-secondary {
  color: #FFEDE0;
}

.bgc-secondary {
  background-color: #FFEDE0;
}


.darker {
  color: #68707D;
}

.medium {
  color: #B6BCC8;
}

.bgc-medium {
  background-color: #B6BCC8;
}

.lighter {
  color: #F7F8FD;
}

.bgc-lighter {
  background-color: #F7F8FD;
}

.white {
  color: white;
}

.navbar-toggler {
  border: none;
}

.title {
  font-size: .75rem;
  letter-spacing: 1.5px;
}

.subtitle {
  font-size: 2rem;
}

.cart-unset{
  all: unset;
}

#cart {
  display: none;
  background: #333;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
}

#cart[open-cart]{
  display: block;
}

.separator {
  display: none;
}

@media (min-width: 36rem) {

  header,
  footer {
    width: 100%;
  }

  .main-bl {
    padding: 0 5rem;
  }
}

@media (min-width: 48rem) {

  .navbar-nav > * {
    padding: .5rem .25rem 0;
  }
}

@media (min-width: 62rem) {
  
  header,
  .separator,
  .main-bl,
  footer {
    max-width: 70rem;
  }

  .separator {
    display: block;
    border: 1px solid #B6BCC8;
    width: 81.5%;
    margin: 1rem auto 2rem;
  }
}